<!DOCTYPE html>
<html>
    <head>admin register test</head>
    <title><h1>adming register test</h1></title>
    <body>
        <form action="create" method="POST" class="signupform">
            <label for="adminName">adminName</label>
            <input name="adminName" type="text" required />
            <label for="password">PassWord</label>
            <input name="password" type="password" required />
            <button class="btn">SIGNUP!</button>
        </form>
    </body>
</html>