<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SamWatch</title>
        <link rel="stylesheet" type="text/css" href="/public/css/index.css">
        <style>
        a:link {text-decoration: none; color:white;}
        a:hover{text-decoration: none; color:white;}
        a:visited{text-decoration: none; color:white;}
        a:active{text-decoration: none; color:white;}
        div{padding-left: 232px; padding-right: 232px;}
        </style>
        
        <script>
           /* setTimeout(function(){
                window.location.href = '/admin';
            },3000);*/
        </script>
    </head>
    
    <body>
        <div id="sam-container">
           <img src="/public/image/title.jpg" style="z-index: 1;">
        </div>
        <div id="space"></div>
        <div>
            <ul id="drop">
                <li><a href="#"><span>a</span><img src="/public/image/menu_list.png" id="select"></a>
                    <ul id="drop-sub">
                        <li><a href="#">Sam Watch</a></li>
                        <li><a href="#">Brand 1</a></li>
                        <li><a href="#">Brand 2</a></li>
                        <li><a href="#">Brand 3</a></li>
                        <li><a href="#">Brand 4</a></li>
                        <li><a href="logout">logout</a></li>
                        <li><input type="button" onclick="location.href='/upload'" value="Upload"></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </body>
</html>